body {
    display: flex;
    justify-content: center;
}

.login {
    background-image: url("../image/bg_login.png");
    height: 100vh;

}

.login .col {
    width: 600px;
}

.login h3 {
    padding-top: 100px;
    font-size: 48px;
}

.login-input {}

.login-input>div {
    margin-top: 10px;
}

.login-input>div:nth-child(3) {
    text-align: end;
}

.login-input>div>a {
    text-decoration: none;
}

.login-input>div:nth-child(4) {
    text-align: center;
}

.btn-login {
    height: 40px;
    width: 100px;
    background-color: #2EBED2;
    color: #ffffff;
    border-radius: 21px;
}

.btn-login:hover {
    opacity: 0.85;
}

.span-or {

    display: block;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.login-social {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-social>div {
    margin: 0 20px;
}

.login-social>div img {
    height: 60px;
    width: 60px;
}

.login-social>div img:hover {
    opacity: 0.85;
}

.register {

    margin-top: 10px;
    text-align: center;
}

.register span {
    margin-right: 10px;
}

.register>span>a {
    list-style-type: none;
    text-decoration: none;
}