.momondo {
    margin-top: 90px;
}

.momondo>h3 {}

.momondo-button {
    background-color: #1A2FE5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 30px;
    border-radius: 27px;
}

.momondo-button>i {
    color: #ffffff;
    font-size: 34px;
    margin-bottom: 5px;
}

.momondo-button>span {
    color: #ffffff;
    font-size: 18px;
}

.momondo-button>p {
    color: #ffffff;
    font-size: 14px;
}

.hop {
    margin-top: 30px;
}

.hop-item {
    position: relative;
    margin: 10px 30px;
    border-radius: 22px;
}

.hop-item:hover img {
    opacity: 0.85;
}

.hop-item:hover div {
    display: flex;
}

.hop-item>img {
    width: 100%;
}

.hop-item div {
    display: none;
    position: absolute;
    bottom: -2%;
    left: 5%;
    font-size: 20px;
}

.hop-item>div>span {
    color: #ffffff;
    margin-right: 10px;
}

.hop-item>div>p {
    color: #ffffff;
}

.top {
    margin: 30px;
}

.top-item {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.top-item>img {
    width: 100%;
    margin-bottom: 5px;
}

.top-item>img:hover {
    opacity: 0.85;
}

.top-item>span {
    text-align: center;
}

.testimonial {
    margin-top: 90px;
    text-align: center;
}

.avata {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.avata>img {
    width: 100%;
    margin-bottom: 10px;
}